<section *ngIf="book" fxLayout="row wrap" fxLayoutAlign="center center">
  <h2>Book Title: {{ book.title }} - {{ book.isbn }}</h2>

  <div *ngIf="bookMetadata" fxLayout="row" fxLayoutAlign="space-between center start" >
    <div *ngIf="bookMetadata.imageLinks.thumbnail" class="margin-right">
      <img src="{{bookMetadata.imageLinks.thumbnail}}">
    </div>

    <div>
      <div *ngIf="bookMetadata.authors.length > 0" class="margin-bottom">
        Authors - {{bookMetadata.authors.join(', ')}}
      </div>

      <p *ngIf="bookMetadata.description">
        {{bookMetadata.description}}
      </p>
      
    </div>
  </div>

  <div>
    <p *ngIf="book.isCheckedOut">
      You have borrowed {{numOfThisBookSignedOutByUser}} copies of this book
    </p>
    <p *ngIf="book.isAvailable">
      There are {{numBooksAvailable}} copies available to borrow
    </p>
    <p>The maximum number of books you can check out is 2. You have currently checked out: {{numBooksSignedOut}}</p>
  </div>

</section>

<div>
  <button mat-raised-button color="primary" class="margin-right" *ngIf="book && book.isCheckedOut" 
    (click)="returnBook()">Return</button>
  <button mat-raised-button color="primary" 
    [disabled]="(book && !book.isAvailable) || isMaximumNumberOfBooksSignedOut() || !isEnoughCopiesAvailable()" 
    (click)="checkOutBook()">Check out</button>
</div>

